ul {
      list-style-type: none;
      margin: 0;
      padding-left: 30px;
      overflow: hidden;
      background-color: rgb(137, 207, 240);
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 25px;
      text-decoration: none;
      font-size: 25px;
      width: 180px;
    }

    li a:hover:not(.active) {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    .active {
      background-color: #000000;
    }